@import 'variables.scss';

body {
  font-family: $ui-primary-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  margin: 1rem;
}

.top-bar--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Oswald', sans-serif;

  section {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  section > * {
    margin: 0 auto;
  }

  .top-bar--header-btn {
    margin: 0 auto 0 0;
  }
}

.search-menu__button {
  color: $ui-inverse-text-color;
  background-color: $ui-primary-accent-color;
  padding: 5px;
  width: auto;
  font-family: $ui-accent-font;
  letter-spacing: $ui-default-ltr-spacing;
}

input[type="search"] {
  width: auto;
  border: 1px solid $ui-primary-accent-color;
  padding: 5px;
  &::placeholder {
    font-family: $ui-accent-font;
  }
}

.search-menu--input {
  display: none;
  border: 1px solid $ui-primary-accent-color;
  border-radius: 5px;
  padding: 1rem;
}

.toggle-search {
  display: block;
  transition: 1s display;
}

.article--outer-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.article {
  flex: 1;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid $ui-primary-accent-color;
  margin: 5px;

  .article__btn {
    background-color: $ui-primary-accent-color;;
    color: $ui-inverse-text-color;
    box-shadow: none;
    padding: 15px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: $ui-accent-font;
    font-size: 12pt;
    letter-spacing: $ui-default-ltr-spacing;
  }
  img {
    height: 15rem;
    width: auto;
    margin: 0 auto;
  }
}

.individual-article--wrapper {
  border-top: .45rem solid $ui-primary-accent-color;
  flex-grow: 1;
  width: 31%;
  height: auto;
  margin: 1%;
  img {
    width: 100%;
    height: auto;
  }
}

.individual-article--wrapper > * {
  flex: 1;
}

.top-bar__categories-bar {
  height: 50px;
  width: 100%;
  background-color: $ui-primary-bk-color;
  color: black;
  text-align: center;

  ul {
    list-style-type: none;
    font-family: $ui-accent-font;
    color: $ui-primary-text-color;
    font-size: 12pt;
  }
  ul li {
    display: inline-block;
    margin: 0 auto;
    padding: 15px;
  }
}