$ui-primary-color: #1B4F72;
$ui-primary-accent-color: #1B4F72;

$ui-primary-text-color: black;
$ui-inverse-text-color: white;

$ui-primary-bk-color: white;

$ui-primary-font: 'Merriweather', serif;
$ui-accent-font: 'Oswald', sans-serif;
$ui-default-ltr-spacing: 1px;

$full-width: 100%;
$half-width: 50%;